html {
    background-color: #cbc0d3;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0px;
}

header {
    padding: 12px;
}

footer {
    background-color: #8e9aaf;
    margin-top: 24px;
    padding: 24px;
}

main {
    max-width: 800px;
    margin: auto;
}

.main-page-book-review {
    background-color: #feeafa;
    border: 4px #efd3d7;
    padding: 24px;
}

.book-cover {
    width: 200px;
    height: auto;
}

.book-title {
    font-weight: bold;
    font-size: 150%;
}

.book-rating {
    font-size: 125%;
}

.book-authors {
    color: #EFD3D7;
}